
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZ.CO</title>
</head>
<body>

<h1>Thanks for submitting the data</h1>
<hr/>

<p>
    <b><%- name %> </b> we will update you shortly.
</p>

<br/><br/>
</body>
</html>